extends layout

block content
  h1!= title
  table
    - for (var r in data)
        tr
          td= data[r].timestamp
          td= data[r].temperature
          td= data[r].humidity
  canvas#tempAndHumidity(width='400', height='400')
  script(src='/database/connection.js')